@media only screen and (max-width: 1200px) {
  .tcl-container {
    max-width: 800px;
  }
}

@media only screen and (max-width: 991px) {
  .tcl-container {
    max-width: 700px;
  }
  .footer-main .tcl-row > .tcl-col-3 {
    max-width: 33.33333%;
    flex: 33.33333%;
  }
  .list-practice > .tcl-col-4 {
    max-width: 33.33333%;
    flex: 33.33333%;
  }
}

@media only screen and (max-width: 767px) {
  .tcl-container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 568px;
  }
  .footer-main .tcl-row > .tcl-col-3 {
    max-width: 50%;
    flex: 50%;
  }
  .list-practice > .tcl-col-4 {
    max-width: 50%;
    flex: 50%;
  }
  .practice-wrapper .item {
    max-width: 50%;
  }
}


@media only screen and (max-width: 567px) {
  .tcl-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-main .tcl-row > .tcl-col-3 {
    max-width: 100%;
    flex: 100%;
  }
  .list-practice > .tcl-col-4 {
    max-width: 100%;
    flex: 100%;
  }
  .tcl-row > .tcl-col-6 {
    max-width: 100%;
    flex: 100%;
  }
  /* <-- ============== main ============= --> */

  /* <-- =========== main-title ========== --> */

  /* <-- =========== entry ========== --> */
  .practice-wrapper .item {
    width: 100%;
  }
}
