

@media only screen and (max-width: 1200px) {
    .tcl-container{
        max-width: 800px;
    }

}


@media only screen and (max-width: 991px) {
    .tcl-container{
        max-width: 700px;
    }
    .practice-content .item {
        width:50%;
    }
}


@media only screen and (max-width: 767px) {
    .tcl-container{
        max-width: 568px;
    }
    .practice-content .item {
        width:50%;
    }
    .tcl-col-3 .footer-item{
        width:50%;
    }
}

@media only screen and (max-width: 567px) {
    .tcl-container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .human-images{
        width: 100%;
        background-color: black;
    }

    
    .practice-content .item {
        width:100%;
    }
} 