/* <-- =================== Reset CSS ==================== --> */

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  font-size: 14px;
  color: #80858c;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a,
p,
span,
i,
img {
  display: inline-block;
}
img {
  max-width: 100%;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: 15px;
  vertical-align: middle;
  margin-left: 0px;
}

/* <-- =================== HEADER ==================== --> */
.social {
  padding-top: 8px;
}
.social a {
  text-decoration: none;
  list-style-type: none;
  color: #bebebe;
  margin-left: 15px;
}
.social a i {
  margin: 0px 5px;
}
.social a:hover {
  color: #c8ac48;
}
.btn {
  text-align: center;
  width: 150px;
  padding: 3px;
  margin-left: 12px;
  background-color: #304771;
}
.btn-text {
  text-align: center;
  padding: 4px;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
}
.btn:hover {
  background-color: #c8ac48;
}
.main-header {
  padding: 7px 0px;
  border-top: 1px solid #ededed;
}
.logo a {
  text-decoration: none;
}
.logo span {
  font-size: 24px;
  padding-top: 10px;
  color: #304771;
  font-weight: 700;
}

.main-menu ul li {
  list-style-type: none;
  margin: 20px;
  text-transform: uppercase;
}
.main-list {
  font-weight: 700;
}
.main-list li {
  position: relative;
}
.main-list li a {
  display: block;
  text-decoration: none;
  color: #898989;
  text-transform: uppercase;
}
.main-list li.active > a,
.main-list li:hover > a {
  color: #c8ac48;
}
.main-list:hover li.active > a {
  color: #898989;
}
.main-list li:hover.active > a {
  color: #c8ac48;
}

.main-list ul {
  padding-top: 40px;
  /* border-bottom: 1px solid black; */
  /* box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2); */
  width: 200px;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  position: absolute;
  opacity: 0;
  text-align: left;
  pointer-events: none;
  transition: all 0.4s ease;
  z-index: 1;
  text-align: left;
}

.sub-menu li a {
  padding: 3px 0px;
  text-align: left;
  margin-left: -18px;
}

.main-list li:hover > ul {
  opacity: 1;
  pointer-events: auto;
  width: 200px;
  z-index: 1;
}
.sub-menu li a {
  font-weight: normal;
  justify-content: center;
}
.search {
  padding: 18px 0px;
}
.search a {
  color: #898989;
}
.search a:hover {
  color: #c8ac48;
}

/* <-- =================== MAIN ==================== --> */

.picture-wrapper {
  position: relative;
  width: 100%;
}
.custom-arrow {
  font-size: 40px;
  z-index: 1;
  top: 50%;
  color: #fff;
}
.arrow-prev {
  left: 1%;
  position: absolute;
}

.arrow-next {
  right: 1%;
  position: absolute;
}
.slider .slide-item {
  position: relative;
}
.slider .slide-item::before {
  content: "";
  display: block;
  padding-top: 40%;
  background-color: red;
}
.slide-item .slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.slide-content h1,
.slide-content h2 {
  /* width: 100%; */
  font-weight: 700;
  font-size: 40px;
  /* position: absolute; */
  text-align: center;
  /* top: 50%; */
  color: #ededed;
}

.slide-content h2 {
  font-size: 18px;
  /* position: absolute; */
  /* padding-top: 60px; */
  font-weight: 400;
}
/* .main-wrapper .img {
  padding: 100px 0px;
  position: relative;
  background-image: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: inherit;
} */
.slide-content .btn-main {
  /* position: absolute; */
  /* width: 100%; */
  /* top: 40%; */
  /* padding: 230px 0; */
  text-align: center;
  justify-content: center;
}
.btn-main a {
  text-decoration: none;
}
.btn-main a:hover {
  background-color: #c8ac48;
  color: #fff;
}
.button {
  text-transform: uppercase;
  border: 1px solid #ccc;
  padding: 10px 40px;
  color: #fff;
  margin: 0px 10px;
}

/* <-- ============== main ============= --> */
.icon-image img {
  width: 16%;
}
.icon-image {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
.list-block {
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
}
.list-block .item1 {
  padding: 30px 0px;
  text-align: center;
  width: 50%;
  background-color: #304771;
  margin: 0;
}

.list-block .item2 {
  background-color: #283c61;
}
.list-block .item3 {
  background-color: #1e3051;
}
.title {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 5px;
  text-align: center;
}

/* <-- ============== main-title ============= --> */
.main-title-wrapper {
  width: 100%;
  text-align: center;
}

.main-title img {
  font-size: 12px;
}

.subtitle-inner {
  padding-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.subtite-title {
  font-size: 40px;
  text-transform: uppercase;
  color: #1e3051;
}

.intro-section-content {
  text-align: left;
  padding-top: 40px;
}
.intro-section .btn-title {
  padding-top: 40px;
  color: black;
  padding-bottom: 70px;
}
.intro-section .btn-title a {
  text-decoration: none;
  margin-left: 0px;
  border: 1px solid #1e3051;
}
.intro-section .btn-text1 {
  color: #1e3051;
}
.intro-section .btn-title a:hover {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #1e3051;
  box-shadow: 5px 10px 8px #888888;
  transform: translateY(-8%);
  transition: all 0.7s ease;
}

.intro-section > .tcl-row {
  align-items: flex-end;
}
/* <-- =========== entry ========== --> */

.entry-wrapper .entry-image {
  position: relative;
}
.entry-wrapper .entry-image::before {
  content: "";
  display: block;
  padding-top: 20%;
  background-color: red;
}
.entry-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.entry-title {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 25%;
  color: #fff;
  padding: 10px;
}
.entry-title h1 {
  font-size: 40px;
}
.entry-btn {

  position:absolute;
  background-color: #1e3051;
  border: none;
}
.entry-btn:hover {
  transform: translateY(-20%);
  box-shadow: 5px 10px 8px black;
  transition: all 0.7s ease;
}
.entry-wrapper {
  padding-bottom: 100px;
}
/* <-- =========== Practice ========== --> */







/* .practice-content {
  flex-wrap: wrap;
  margin-bottom: 100px;
  justify-content: space-between;
}
.content-cell .title-prac{
  color:#304771;
}
.practice-content .item {
  border: 1px solid #bebebe; 
  width: calc(30% - -18px);
  padding: 50px;
  margin-bottom: 30px;
}
.practice-content .item {
  position: relative;
}
.practice-content .item::before {
  content: "";
  top: 0;
  left: 50%;
  bottom: 0;
  right: 50%;
  position: absolute;
  border-top: 1px solid #c8ac48;
  border-bottom: 1px solid #c8ac48;
  transition: all 0.4s ease;
}
.practice-content .item::after {
  content: "";
  top: 50%;
  left: 0;
  bottom: 50%;
  right: 0;
  position: absolute;
  border-right: 1px solid #c8ac48;
  border-left: 1px solid #c8ac48;
  transition: all 0.4s ease;
}
.practice-content .item:hover::before {
  cursor: pointer;
  left: 0;
  right: 0;
  color: white;
}

.practice-content .item:hover::after {
  cursor: pointer;
  top: 0;
  bottom: 0;
  color:white;
}

.practice-content .item:hover {
  background-color: #304771;
  color:white;
}

.content-cell .read-more {
  width: 100%;
  text-align: center;
  color: #c8ac48;
  font-size: 16px;
}
.content-cell a {
  text-decoration: none;
}
.read-more::after {
  font-weight: 700;
  margin-left: 2px;
  content: "→";
}
.read-more {
  position: relative;
  padding-bottom: 2px;
  border: none;
}

.read-more:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 100%;
  height: 1px;
  background-color: #c8ac48;
}
.read-more:hover::before {
  left: 0;
} */

/* <-- =================== FOOTER ==================== --> */

/* <-- ============== footer top ============= --> */
.footer-top {
  background-color: #0a152a;
  width: 100%;
}
.main-footer {
  padding-top: 40px;
}
.logo-footer {
  padding-top: 70px;
  text-align: center;
}
.widget-description {
  padding-top: 25px;
  text-align: center;
  color: #a7aeba;
  font-size: 14px;
}
.symbolfooter {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
}
.footer-top {
  border-bottom: 1px solid #2c3340;
}

.footer-main {
  background-color: #0a152a;
  padding: 20px;
}

/* <-- ============== footer main ============= --> */
.footer-item__content span {
  margin-right: 12px;
  margin-left: 0px;
}
.tcl-col-3::before {
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  margin-top: 2px;
  background-color: #c8ac48;
}
.footer-item::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 2px;
  background-color: #c8ac48;
  /* background-color: blue; */
}
.footer-item__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 20px;
}
.footer-item__content .icon {
  padding-bottom: 15px;
}
.footer-item__content ul li {
  text-decoration: none;
  list-style-type: none;
}
.footer-item__content ul li a {
  font-size: 12px;
  color: #a7aeba;
}
.footer-item__content ul li a:hover {
  color: #c8ac48;
}
.flaticon-double-right-arrow:before {
  font-size: 8px;
  margin-left: 0px;
  margin-right: 10px;
}

/* <-- ============== footer bottom ============= --> */
.footer-bottom {
  background-color: #050e1f;
  width: 100%;
}
.text-bottom {
  padding: 10px 0px;
  width: 100%;
}
.text-bottom .item {
  text-align: center;
}





/* <div class="practice-wrapper">
          <div class="practice-content d-flex">
            <div class="item">
              <div class="icon-cell">
                <div class="icon-image icon-prac">
                  <img src="images/card.png" alt="">
                </div>
              </div>
              <div class="content-cell">
                <div class="info">
                  <div class="title title-prac">Request A Lawyer</div>
                  <div class="description-prac">Claritas est etiam protcessus dynamicus, qui sequitur mutationem consuetudine
                  </div>
                  <a href="" class="read-more">Read more</a>
                </div>
              </div>
            </div> */